Source: libesedb
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libesedb/

Package: libesedb
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the Extensible Storage Engine (ESE) Database File (EDB) format
 libesedb is a library to access the Extensible Storage Engine (ESE) Database File (EDB) format.

Package: libesedb-dev
Section: libdevel
Architecture: any
Depends: libesedb (= ${Source-Version})
Description: Header files and libraries for developing applications for libesedb
 Header files and libraries for developing applications for libesedb.

Package: libesedb-tools
Section: utils
Architecture: any
Depends: libesedb (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Extensible Storage Engine (ESE) Database Files (EDB)
 Several tools for reading Extensible Storage Engine (ESE) Database Files (EDB).

Package: libesedb-python
Section: python
Architecture: any
Depends: libesedb (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libesedb
 Python bindings for libesedb.

