#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment for debhelper verbose output.
# export DH_VERBOSE=1

export SKIP_PYTHON_TESTS=1

%:
	dh $@ --buildsystem=autoconf --with=autoreconf,python3

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- --enable-python3 CFLAGS="-g"

.PHONY: override_dh_install
override_dh_install:
	dh_install --fail-missing -X.la -X/pyesedb.a

.PHONY: override_dh_missing
override_dh_missing:
	dh_missing -X.la -X/pyesedb.a --fail-missing

.PHONY: override_dh_strip
override_dh_strip:
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -plibesedb --dbg-package=libesedb-dbg
	dh_strip -plibesedb-tools --dbg-package=libesedb-tools-dbg
	dh_strip -plibesedb-python3 --dbg-package=libesedb-python3-dbg
endif

