#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libesedb:
	# Set up libesedb package directories and files
	mkdir -p debian/libesedb/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libesedb/usr/lib

install_libesedb_dev:
	# Set up libesedb-dev package directories and files
	mkdir -p debian/libesedb-dev/usr/include
	mkdir -p debian/libesedb-dev/usr/include/libesedb
	mkdir -p debian/libesedb-dev/usr/lib
	mkdir -p debian/libesedb-dev/usr/lib/pkgconfig
	mkdir -p debian/libesedb-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libesedb-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libesedb/*.h debian/libesedb-dev/usr/include/libesedb
	install -p -m755 debian/tmp/usr/lib/*.la debian/libesedb-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libesedb-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libesedb-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libesedb-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libesedb-dev/usr/share/man/man3

install_libesedb_tools:
	# Set up libesedb-tools package directories and files
	mkdir -p debian/libesedb-tools/usr/bin
	mkdir -p debian/libesedb-tools/usr/share/man/man1
	install -p -m755 debian/tmp/usr/bin/* debian/libesedb-tools/usr/bin
	install -p -m755 debian/tmp/usr/share/man/man1/* debian/libesedb-tools/usr/share/man/man1

override_dh_auto_test:

override_dh_installinit: install_libesedb install_libesedb_dev install_libesedb_tools

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_shlibdeps:
	dh_shlibdeps -Llibesdb -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibesdb-dev

