# Build Python wheels from source using cibuildwheel.
name: build_wheels
on: [push, pull_request]
permissions: read-all
jobs:
  build_wheels_linux:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-24.04-arm
        - os: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install build dependencies
      run: |
        sudo apt-get -y install autoconf automake autopoint build-essential git libtool pkg-config
    - name: Prepare build
      run: |
        ./synclibs.sh
        ./autogen.sh
        ./configure
        make sources >/dev/null
    - name: Build Python wheels
      uses: pypa/cibuildwheel@v3.3.0
      env:
        CIBW_TEST_COMMAND: python tests/runtests.py
        CIBW_TEST_SOURCES: tests
      with:
        package-dir: .
        output-dir: dist
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: dist/*.whl
  build_wheels_macos:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: macos-14
        - os: macos-15-intel
    steps:
    - uses: actions/checkout@v5
    - name: Install build dependencies
      run: |
        brew update -q
        brew install -q autoconf automake gettext gnu-sed libtool pkg-config || true
        brew link --force gettext
        ln -s /usr/local/bin/glibtoolize /usr/local/bin/libtoolize
    - name: Prepare build
      run: |
        ./synclibs.sh
        ./autogen.sh
        ./configure
        make sources >/dev/null
    - name: Build Python wheels
      uses: pypa/cibuildwheel@v3.3.0
      env:
        CIBW_TEST_COMMAND: python tests/runtests.py
        CIBW_TEST_SOURCES: tests
      with:
        package-dir: .
        output-dir: dist
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: dist/*.whl
  build_wheels_windows:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: windows-11-arm
        - os: windows-latest
    steps:
    - uses: actions/checkout@v5
    - name: Prepare build
      run: |
        .\synclibs.ps1
        .\autogen.ps1
    - name: Build Python wheels
      uses: pypa/cibuildwheel@v3.3.0
      env:
        CIBW_TEST_COMMAND: python tests/runtests.py
        CIBW_TEST_SOURCES: tests
      with:
        package-dir: .
        output-dir: dist
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: dist/*.whl
